params {
	
	version {
		pipeline = '1.0'
		trimmomatic  			= '0.39'
        bwa			= '0.7.17'
        snpeff		= '5.1'
        tabix		= '1.9'
        samtools     	= '1.9'
        bcftools = '1.9'
        varscan = '2.4.4'
        vcftools = '0.1.16'
    }
		
	containers_base      = "https://lipm-browsers.toulouse.inra.fr/pub/singularity-repository/mutdetect2"
    
}



process {
    withName:'TRIMMOMATIC_.*' {
        container = params.containers_base +  "/trimmomatic-" + params.version.trimmomatic + ".sif"
    } 
    withName:'BWA_.*' {
        container = params.containers_base +  "/bwa-" + params.version.bwa  + ".sif"
    } 
    withName:'SNPEFF_.*' {
        container = params.containers_base +  "/snpeff-" + params.version.snpeff  + ".sif"
    } 
    withName:'SAMTOOLS_.*' {
        container = params.containers_base +  "/samtools-" + params.version.samtools  + ".sif"
    } 
    withName:'BCFTOOLS_.*' {
        container = params.containers_base +  "/bcftools-" + params.version.bcftools  + ".sif"
    } 
    withName:'VARSCAN_.*' {
        container = params.containers_base +  "/varscan-" + params.version.varscan  + ".sif"
    }
    withName:'VCFTOOLS_.*' {
        container = params.containers_base +  "/vcftools-" + params.version.vcftools  + ".sif"
    }
    withName:'UTILS_.*' {
        container = params.containers_base +  "/tabix-" + params.version.tabix  + ".sif"
    }
}

