params {
 
  wt_genotype = 'WT'
  trimmo_params = ' -validatePairs -phred33 '
  trimmo_leading_qual_min = 20
  trimmo_trailing_qual_min = 20
  trimmo_sliding_window_size = 4 
  trimmo_sliding_window_qual = 20
  trimmo_min_length = 50
  
  aln_filter_mode = 'paired_rmdup'
  samtools_max_memory = '8G'
  mpileup_parameters = ' -B --max-depth 100 '
  mpileuprecall_parameters = '-B'
  
  varscan_mutant_min_coverage = 3
  varscan_mutant_min_reads2 = 3
  varscan_mutant_avg_qual = 30
  varscan_mutant_var_freq = 0.01
  varscan_mutant_var_freq_for_hom = 0.8
  varscan_mutant_pvalue = 0.01
  
  varscan_wt_min_coverage = 5
  varscan_wt_min_reads2 = 4
  varscan_wt_avg_qual = 30
  varscan_wt_var_freq = 0.01
  varscan_wt_var_freq_for_hom = 0.8
  varscan_wt_pvalue = 0.01
  
  
  min_line_wt_position = 3
  min_line_mutant_position = 1
  
  snpeff_up_downstream_len = 1000
  
  //ANN[*] !~ "${snpeff_exclude_ann}"
  snpeff_exclude_ann = 'LOW\\|intergenic_variant\\|upstream_gene_variant\\|intergenic_region'
  
}
